body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #4e6254;
    color: #fff;
  }
  
  h1 {
    font-size: 200%;
  }

  nav {
    display: flex;
    background-color: #4e6254;
  }

  nav a:hover {
    background-color: #1a241c;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }

  nav a {
    color: #b9c6ae;
    font-weight: bold;
    text-decoration: underline;
  }

.cover {
    position: relative;
  }

.green {
    width: 100%;
    height: 100px;
}

.text {
    position:absolute;
    top: 45px;
    right: 50px;
    text-decoration: underline;
  }
  
.work a:hover {
  background-color: #13293d;
}


  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;
  }
