* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #3b7860;
  color: #fff;
}

h1 {
  font-size: 200%;
  background-color: #9cce9a;
  color: #3b7860;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  color: #fff;
}

.banner {
  position: relative;
  text-align: center;
  color: white;
}

.header {
  height: 200px;
  width: 2000px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}


h2 {
  font-size: 30px;
  text-decoration: underline;
}

.vl {
  border-right: 6px solid rgb(73, 74, 73);
  height: 200px;
  width: 200px;
}

.me {
  height: 300px;
  width: 300px;
}

.aboutMe {

}

.myWork {

}

.contactMe {

}
