header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #3b7860;
  color: #fff;
}

h1 {
  font-size: 200%;
  background-color: #9cce9a;
  color: #3b7860;
}

h2 {
  margin: 2% 0;
  font-size: 250%;
  text-decoration: underline;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

nav a {
  color: #b9C6ae;
  font-weight: bold;
  text-decoration: underline;
}

nav a:hover {
  color: #fff;
}


  
  /*footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;
  }
